@model mvcshopping.Models.Tables.Products

@{
    string str_command = (Model.Id == 0) ? "新增" : "修改";
    ViewData["Title"] = $"商品資料{str_command}";

    // 商品相關的下拉選單資料
    List<SelectListItem> CategoryList = new List<SelectListItem>();
    List<SelectListItem> SupplierList = new List<SelectListItem>();
    List<SelectListItem> UnitList = new List<SelectListItem>();
    
    // 使用商品相關的資料存取類別
    using var sqlCodeData = new z_sqlCodeDatas();
    using var sqlSupplier = new z_sqlSuppliers(); // 如果有供應商資料表的話
    
    // 取得商品類別、單位等下拉選單資料
    CategoryList = sqlCodeData.GetDropDownList("ProductCategory", true); // 商品類別
    UnitList = sqlCodeData.GetDropDownList("ProductUnit", true); // 商品單位
    // 如果有獨立的供應商資料表，可以這樣取得
    // SupplierList = sqlSupplier.GetDropDownList("SupplierCode", "SupplierName", "SupplierCode", true);
}

<div class="card border-secondary card-size-medium">
    <div class="card-header bg-secondary text-white">
        <h5>@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("CreateEdit", "Product")) @* 指定正確的 Action 和 Controller *@
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal mt-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <!-- 啟用狀態 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.IsValid, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.IsValid, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsValid, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 商品編號 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ProductNo, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 商品名稱 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 商品類別 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.CategoryCode, "商品類別", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CategoryCode, CategoryList, "請選擇類別", new { @class = "form-control selectpicker", data_live_search = "true" })
                        @Html.ValidationMessageFor(model => model.CategoryCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 供應商 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.SupplierCode, "供應商", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @* 如果有供應商下拉選單可以用這個 *@
                        @* @Html.DropDownListFor(model => model.SupplierCode, SupplierList, "請選擇供應商", new { @class = "form-control selectpicker", data_live_search = "true" }) *@
                        
                        @* 暫時用文字輸入 *@
                        @Html.EditorFor(model => model.SupplierCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入供應商代碼" } })
                        @Html.ValidationMessageFor(model => model.SupplierCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 單位 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.UnitCode, "單位", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.UnitCode, UnitList, "請選擇單位", new { @class = "form-control selectpicker", data_live_search = "true" })
                        @Html.ValidationMessageFor(model => model.UnitCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 售價 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 成本價 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.CostPrice, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CostPrice, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.CostPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 庫存數量 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.StockQuantity, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StockQuantity, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.StockQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 安全庫存 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.SafetyStock, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SafetyStock, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.SafetyStock, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 商品描述 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 備註 -->
                <div class="row form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="submit" value="異動存檔" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "Product")" class="btn btn-success">返回列表</a>
                </div>
            </div>
        }
    </div>
</div>

@section ScriptsBody {
<script type="text/javascript">
    $(document).ready(function() {
        // 初始化 Bootstrap Select
        $('.selectpicker').selectpicker();
        
        // 如果需要處理多選的邏輯，可以參考以下範例
        // var categoryVal = '';
        // var categoryCode = '@Model.CategoryCode';
        // if(categoryCode != null && categoryCode != '') { 
        //     categoryVal = categoryCode.split(','); 
        // }
        // $('#CategoryCode').on('loaded.bs.select', function () {
        //     $('#CategoryCode').selectpicker('val', categoryVal);
        // });
    });
</script>
}